# New File
snippet vsetup
    <template>
    </template>

    <script setup lang="ts">
        // External utility
        // Internal utility
        // Components
        // Types
        // Styles

        const props = defineProps({
        });
    </script>

    <style lang="scss">
        @use "@/styles/public/layout/mixins" as *;
    </style>
